{% extends "__base__.html" %}
{% block title %}Logowanie{% endblock title %}
{% block content %}
  {% if redirected %}
    <h1>Aby obejrzeć tę częśc aplikacji musisz się najpierw zalogować</h1>
  {% endif %}
  <div id="login">
    <form class="form-horizontal" name="LoginForm" method="post">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <div class="control-group">
        <label class="control-label" for="username">Nazwa użytkownika</label>
        <div class="controls">
          <input type="text" id="username" name="username"  placeholder="Login">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Hasło</label>
        <div class="controls">
          <input type="password" name="password" id="password" placeholder="Hasło">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Zaloguj</button>
        </div>
      </div>
    </form>
    <p>Nie masz konta? Zarejstruj się <a href="{% url 'register' %}">tutaj</a></p>
  </div>
{% endblock content %}