{% extends "__base__.html" %}
{% block title %}Nowy przepis w planie{% endblock %}
{% block content %}

  {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ msg.message }}
        </div>
    {% endfor %}
  {% endif %}

<div class="dashboard-content border-dashed p-3 m-4 view-height gsapDashboard">
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <button type="submit" form="add_recipe_to_plan_form" value="Zapisz"
                    class="w-25 btn btn-primary">Zapisz</button>
        </div>
    </div>

    <div class="schedules-content">
        <form id="add_recipe_to_plan_form" method="POST">
        {% csrf_token %}
            <div class="form-group row">
                <label for="choosePlan"
                       class="col-sm-2 label-size col-form-label">
                    Wybierz plan
                </label>
                <div class="col-sm-3">
                    <select class="form-control" name="plan">
                      {% for plan in plans %}
                        <option {% if plan.id == plan_id %} selected="selected" {% endif %} value="{{ plan.id }}">{{ plan.name }}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 label-size col-form-label">
                    Nazwa posiłku
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           name="meal_name" placeholder="Nazwa posiłku">
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-sm-2 label-size col-form-label">
                    Numer posiłku
                </label>
                <div class="col-sm-2">
                    <input type="number" step="1" min="1" class="form-control" name="order"
                           placeholder="Numer posiłku">
                </div>
            </div>
            <div class="form-group row">
                <label for="recipie" class="col-sm-2 label-size col-form-label">
                    Przepis
                </label>
                <div class="col-sm-4">
                    <select class="form-control" name="recipe">
                      {% for recipe in recipes %}
                        <option
                                {% if recipe.id == recipe_id %} selected="selected" {% endif %} value="{{ recipe.id }}">
                            {{ recipe.name }}
                        </option>
                      {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="day" class="col-sm-2 label-size col-form-label">
                    Dzień
                </label>
                <div class="col-sm-2">
                  <select class="form-control" name="day_name">
                    {% for day in days %}
                      <option value="{{ day.day }}">{{ day.get_day_display }}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}