{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height gsapDashboard">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
        <div>
            <a href="{% url 'add-plan' %}" class="btn btn-success">
                Dodaj nowy plan
            </a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">

            {% for plan in plans %}
                <tr class="d-flex gsapRow">
                    <td class="col-1">{{ forloop.counter }}</td>
                    <td class="col-2">{{ plan.name }}</td>
                    <td class="col-7">{{ plan.description }}</td>

                    <td class="col-2 ml-auto d-flex justify-content-center flex-wrap">
                        <a href="{% url 'add-recipe-to-plan' %}" class="w-100 btn btn-primary mb-2">
                            Dodaj nowy przepis
                        </a>
                        <a href="{% url 'plan-details' plan.id %}" class="w-100 btn btn-info mb-2">Szczegóły</a>
                        <a href="{% url 'edit-plan' plan.id %}" class="w-100 btn btn-warning mb-2">Edytuj</a>
                        <button onclick="location.href='{% url 'delete-plan' plan.id %}'" class="w-100 btn btn-danger mb-2">Usuń</button>
                    </td>

                 </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if plans.has_previous %}
                <a href="?page={{ plans.previous_page_number }}">< poprzednia</a>
            {% endif %}

            <span class="current">
                {% for page in num_pages %}
                  {% if forloop.counter == plans.number %}
                    |<a href="?page={{ forloop.counter }}"><strong>{{ forloop.counter }}</strong></a>
                  {% else %}
                    |<a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                  {% endif %}
                {% endfor %}
            </span>

            {% if plans.has_next %}
                <a href="?page={{ plans.next_page_number }}">nastepna ></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}